@layer base {
    :root {
        --font-family-lexend: 'Lexend', sans-serif;
        --font-weight-regular: 400;
        --font-weight-button: 300;

        --font-2xl: 32px;
        --font-xl: 24px;
        --font-lg: 20px;
        --font-md: 16px;
        --font-sm: 15px;
        --font-xs: 14px;
        --font-xxs: 13px;
        --font-3xs: 12px;
    }
}
